<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.separate.dao.HistorydataSyncConfigMapper" >
  <resultMap id="BaseResultMap" type="com.wisdom.separate.model.HistorydataSyncConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tablename" property="tableName" jdbcType="VARCHAR" />
    <result column="positionindex" property="positionIndex" jdbcType="BIGINT" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="createtime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="flag" property="flag" jdbcType="SMALLINT" />
    <result column="daycount" property="dayCount" jdbcType="SMALLINT" />
    <result column="insertcount" property="insertCount" jdbcType="BIGINT" />
    <result column="priority" property="priority" jdbcType="SMALLINT" />
  </resultMap>
  
  <!--获取运行同步的表-->
    <select id="getTableConfigList" resultMap="BaseResultMap">
    SELECT  id,tablename,positionindex,count,flag,createtime,updatetime,insertcount,daycount,priority
    FROM  wisdom_historydata_sync_config
    WHERE  flag=1;
    </select>

    <!--根据表名获取表的配置信息-->
    <select id="getTableConfig" resultMap="BaseResultMap">
        SELECT  id,tablename,positionindex,count,flag,createtime,updatetime,insertcount,daycount
        FROM  wisdom_historydata_sync_config
        WHERE  tablename=#{tableName,jdbcType=VARCHAR} AND flag=1;
    </select>

    <!--修改同步位置-->
    <update id="updateByPrimaryKeySelective"
            parameterType="com.wisdom.separate.model.HistorydataSyncConfig">
        update wisdom_historydata_sync_config set positionindex=#{positionIndex,jdbcType=BIGINT},
        insertcount=#{insertCount,jdbcType=BIGINT} ,
        updatetime=now()
        WHERE  id=#{id,jdbcType=BIGINT}
    </update>
  
  
</mapper>